.photos-page h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

.photos-page h2 {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 0.3rem;
    margin-bottom: 1rem;
}


