html {
    font-family: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "Noto Sans",
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 20px;
}

body {
    width:auto;
    position: relative;
    color:rgb(24, 22, 22);
    font-weight: 200;
    background-color:rgb(255, 254, 239);
}