.home-page h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

.home-page h2 {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 0.3rem;
    margin-bottom: 1rem;
}

.home-page p {
    text-align: center;
    margin-bottom: 0.5rem;
}

.home-page .attribution {
    font-style: italic;
}
