.home-page h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

.home-page h2 {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 0.3rem;
    margin-bottom: 1rem;
}
.home-page h3 {
  text-align: left;
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
}
.home-page p1 {
  text-align: left;
  margin-bottom: 0.5rem;
}
.home-page p {
    text-align: center;
    margin-bottom: 0.5rem;
}

.home-page .attribution {
    font-style: italic;
}
.curiosityImg{
  position: inherit;
  padding-right: 20px;
  padding-bottom: 20px;
}
.oppotunityImg{
  position: inherit;
  padding-bottom: 10px;
  padding-right: 10px;
}
.spiritImg{
  position: inherit;
  padding-right: 20px;
  padding-bottom: 20px;
}
.Rovers{
  padding-top: 50px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}